<?xml version="1.0" encoding="utf-8" ?>
<nlog>
  <targets async="true">
    <target type="File" name="local"
            fileName="${basedir}/logs/sso.${machinename}.txt"
            layout="${processid} ${threadid} ${longdate} | ${level:uppercase=true} | ${message} ${exception:format=tostring}"
            keepFileOpen="true"
            maxArchiveFiles="8"
            archiveFileName="${basedir}/logs/sso.${machinename}.{####}.txt"
            archiveNumbering="Rolling"
            archiveEvery="Day"
            encoding="UTF-8" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="local" />
  </rules>
</nlog>
